/* GENERALE */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.clearfix:after{
  content: '';
  display: table;
  clear: both;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

.container{
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
}

.bottone-p{
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 50px;
}

.bottone-b{
  text-decoration: none;
  padding: 20px 25px;
  border-radius: 50px;
}

/* /GENERALE */
/* HEADER */

header{
  background-color: rgb(49, 97, 224);
  width: 100%;
}

.head{
  height: 80px;
  width: 90%;
  margin: 0 auto; 
}


/* Menu */

div.logo{
  float: left;
  line-height: 100%;
  width: 25%;
  padding-top: 25px;
}

div.menu{
  float: left;
  line-height: 80px;
  width: 50%;
}

div.log-in{
  float: right;
  line-height: 80px;
}

nav ul li{
  display: inline-block;
  list-style-type: none;
}
nav ul li a{
  text-decoration: none;
  padding: 0 15px;
  font-size: 1.2rem;
  color: white;
}

a:hover{
   color: rgb(150,226, 206);
}

a.accedi{
  background-color: white;
  color: black;
}

a.accedi:focus, a.big-left:focus, a.big-ultimo:focus{
  background-color: rgb(105, 142, 240);
}

a.accedi:hover{
  color: rgb(150,226, 206);
}

a.big-right:focus{
  background-color: rgb(105, 142, 240);
}

/* /Menu */
/* jumbotron */

div.jumbotron{
  background-image: url(../img/jumbo.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 600px;
}

div.text-jumb{
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding-top: 150px;
}

div.text-jumb h1{
  font-size: 3.5rem;
  color: white;
}

div.text-jumb p{
  padding-top: 40px;
  padding-bottom: 60px;
  width: 55%;
  margin: 0 auto;
  font-size: 1.4rem;
  color: white;
}

a.big-left{
  background-color: white;
  color: black;
  margin-right: 30px;
}

a.big-left:hover, a.big-right:hover{
  color: rgb(150,226, 206);
}

a.big-right{
  background-color: rgb(35,39, 42);
  color: white;
}

/* /Jumbotron */
/* /HEADER */

/* MAIN */

/* Sezioni */
/* .conteiner{
  width: 100%;
} */

section.sfondo{
  background-color: rgb(246, 246, 246) ;
}

div.box{
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
}

div.box-left{
  float: left;
  width: 50%;
}

div.box-right{
  float: right;
  width: 50%;
}

/* /Sezioni */

/* Immagini e testo */

div.Lcol-1{
 margin-top: -20px;
}

div.Rcol-1 h2, div.Lcol-2 h2, div.Rcol-3 h2{
  margin: 0 auto;
  width: 50%;
  font-size: 3rem;
  text-align: left;
  margin-bottom: 20px;
}  

div.Rcol-1 p, div.Lcol-2 p, div.Rcol-3 p{
  width: 50%;
  margin: 0 auto;
  font-size: 1.8rem;
  text-align: left;
}

div.Lcol-2 h2{
  margin-top: 50px;
}  

div.capo h2{
  font-size: 3rem;
  padding: 20px 0;
  text-align: center;
}

div.capo p{
  font-size: 1.8rem;
  text-align: center;
}

/* /Immagine e Testo */

/* Immagini e Testo finale  */
.item4{
  text-align: center;
}

.base img{
  margin-left: 34%;
}

.base h3{
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 80px;
}

a.big-ultimo{
  color: white;
  background-color: rgb(142, 161, 225);
  margin-left: 43%;
}

a.big-ultimo:hover{
  color: rgb(150,226, 206);
}

/* /Immagini e Testo finale */
/* /MAIN */

/* fOOTER */

/* Divisioni in colonne */

div.foot{
  width: 100%;
  background-color: rgb(35, 39, 42);
  margin-top: 26px;
}

div.fondo{
  width: 90%;
  margin: 0 auto;
  
}

.col-1{
  text-align: left;
  padding-top: 50px;
  float: left;
  width: 34%;
}

.col{
  text-align: left;
  padding-top: 50px;
  float: left;
  width: 14%;
}
/* /Divisioni in Colonne */

/* Lista */

div.col-1 nav ul li{
  margin-top: 30px;
}

div.col nav ul li{
  padding: 15px;
}

div.col nav ul li:hover{
  text-decoration: underline;
}

.col-1 h3, .col h4{
  margin-bottom: 20px;
  color:rgb(114, 137 , 218);
}

.col-1 h3{
  font-size: 1.5rem;
}

.col h4{
  margin-left: 40px;
}

.col-1 img{
  width: 30px;
}

.col-1 span{
  color: white;
  padding-left: 5px;
  font-size: small;
}

hr{ 
  margin: 10px;
  border: 1px solid rgb(114, 137 , 218);;
}

.registrati{
  background-color: rgb(114, 137 , 218);
  color: white;
}

a.registrati:hover{
  color: rgb(150,226, 206);
}

a.registrati:focus{
  background-color: rgb(105, 142, 240);
}
/* /Lista */